<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns:mvc="http://www.springframework.org/schema/mvc"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:aop="http://www.springframework.org/schema/aop" 
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.2.xsd ">

    <!-- <import resource="classpath:applicationContext-ehcache.xml"/> -->
    
    <!-- 可以扫描controller、service、...
	这里让扫描controller，指定controller的包
	-->
	<context:component-scan base-package="com.vrzww.controller"></context:component-scan>
	
	<mvc:default-servlet-handler/>
	
	<!-- 静态资源解析
	包括 ：js、css、img、..
	 -->
	 <mvc:resources location="/uploadImg/" mapping="/uploadImg/**"/>
	 <mvc:resources location="/js/" mapping="/js/**"/>
	 <mvc:resources location="/css/" mapping="/css/**"/>
	 <mvc:resources location="/img/" mapping="/img/**"/>
	 <mvc:resources location="/images/" mapping="/images/**"/>
	 <mvc:resources location="/heads/" mapping="/heads/**"/>
	 <mvc:resources location="/error/" mapping="/error/**"/>

	 
	<mvc:annotation-driven></mvc:annotation-driven>
	
	<!-- 视图解析器
	解析jsp解析，默认使用jstl标签，classpath下的得有jstl的包
	 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 配置jsp路径的前缀 -->
		<property name="prefix" value="/"/>
		<!-- 配置jsp路径的后缀 -->
		<property name="suffix" value=".jsp"/>
	</bean>
	
	<!--拦截器 -->
	
	<mvc:interceptors>
	    <!--多个拦截器,顺序执行 -->
		<!-- 登陆认证拦截器 -->
		<mvc:interceptor>
		    <!-- 管理员页面需要登录才能访问 -->
		    <mvc:mapping path="/administrator/*" />
		    <bean class="com.vrzww.interceptor.AdminLoginInterceptor"></bean>
		</mvc:interceptor>
		<mvc:interceptor>
		    <!-- 登录才能访问 -->
		    <mvc:mapping path="/comment/setComment" />
		    <bean class="com.vrzww.interceptor.LoginInterceptor"></bean>
		</mvc:interceptor>		
	</mvc:interceptors>
	 
</beans>